.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-div {
  border: 1px solid black;
  width: 400px;
}

.today-div {
  width: 400px;
  border: 1px solid black;
}
